public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
node-linker=hoisted
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
link-workspace-packages=true
prefer-workspace-packages=true
enable-pre-post-scripts=true
